<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Alexandria-Black.ttf</string>
		<string>Alexandria-Bold.ttf</string>
		<string>Alexandria-ExtraBold.ttf</string>
		<string>Alexandria-ExtraLight.ttf</string>
		<string>Alexandria-Light.ttf</string>
		<string>Alexandria-Medium.ttf</string>
		<string>Alexandria-Regular.ttf</string>
		<string>Alexandria-SemiBold.ttf</string>
		<string>Alexandria-Thin.ttf</string>
		<string>RedHatDisplay-VariableFont_wght.ttf</string>
		<string>RedHatDisplay-Black.ttf</string>
		<string>RedHatDisplay-BlackItalic.ttf</string>
		<string>RedHatDisplay-Bold.ttf</string>
		<string>RedHatDisplay-BoldItalic.ttf</string>
		<string>RedHatDisplay-ExtraBold.ttf</string>
		<string>RedHatDisplay-ExtraBoldItalic.ttf</string>
		<string>RedHatDisplay-Italic.ttf</string>
		<string>RedHatDisplay-Light.ttf</string>
		<string>RedHatDisplay-LightItalic.ttf</string>
		<string>RedHatDisplay-Medium.ttf</string>
		<string>RedHatDisplay-MediumItalic.ttf</string>
		<string>RedHatDisplay-SemiBold.ttf</string>
		<string>RedHatDisplay-SemiBoldItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
